@import "tailwindcss";

@utility centerChild {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility border-hot {
  border: 2px solid rgba(35, 124, 226, 0.65);
  box-shadow: 0 0 12px rgba(0, 103, 222, 0.18);
}

@utility globeWrapper {
  width: 6.5rem;
  aspect-ratio: 1;
}

@utility globe {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: url(earth.jpg);
  background-repeat: repeat-x;
  background-size: 10rem auto;
  box-shadow: inset 0 0 1rem #6a6161, 0 0 1rem #4b4343;
  animation: globeAnimation 10s infinite linear;
}

@keyframes globeAnimation {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: 1000% center;
  }
}